body{
    background-color: #ddd;
}
.navbar{
     margin-bottom: 0px;
}
 .default-nav {
     background-color: #fff!important;
     border-color: #fff!important;
 }
 .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
 }
.container-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
}
.product_border {
    float: left;
}
.modal-dialog{
    width: 900px;
}
.modal-content {
    color: black;
}
.modal-header .modal-title{
    float: left;
}
.pagination-section {
    text-align: center;
}
.navbar-inverse {
    background-color: #fff!important;
    background-image: none;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: red;
   
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    
    background-color: #080808;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: red;
    background-color: transparent;
}


.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #9d9d9d;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.items {
    list-style-type: none;
    float: left;
    position: relative;
    min-height: 170px;
    padding-right: 15px;
    padding-left: 6px;

}
.middle_header{
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-style: outset;

}

.btn-ground .btn {
    font-size:9px;
}

    @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');   
body{font-family: 'Quicksand', sans-serif;}
   h4{
    	font-weight: 600;
	}
	.thumbnail  p{
		font-size: 12px;
		margin-top: 5px;
    }
    .thumbnail  .ratings {
        margin-left: 19px;
        margin-bottom: 7px;
	}
	.price{
		font-size: 30px;
    	margin: 0 auto;
    	color: #333;
	}

	.thumbnail{
		opacity:0.70;
		-webkit-transition: all 0.5s; 
        transition: all 0.5s;
        height: 420px!important;
    }
    .thumbnail .caption {
        height: 207px!important;
    } 
	.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0px 0px 10px #4bc6ff;
    }
    .thumbnail>img {
    cursor: pointer;
     max-width: 67%;
    }
    .thumbnail>.caption {
        cursor: pointer;
         
        }
	.line{
		margin-bottom: 5px;
	}
	@media screen and (max-width: 770px) {
		.right{
			float:left;
			width: 100%;
		}
	}
	span.thumbnail {
        border: 1px solid #00c4ff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
	padding: 10px;
}
.container h4{margin-top:20px; margin-bottom:20px;}

.right {
    float: right;
    border-bottom: 2px solid #0a5971;
}
.btn-info {
    color: #fff;
    background-color: #19b4e2;
    border-color: #19b4e2;
	font-size:13px;
	font-weight:600;
}


.vertical .carousel-inner {
    height: 100%;
  }
  
 
/* Put your css in here */
.collapsed-icon-toggle.collapsed .on-closed {
    display: initial;
  }
  .collapsed-icon-toggle.collapsed .on-opened {
    display: none;
  }
  .collapsed-icon-toggle .on-closed {
    display: none;
  }
  .collapsed-icon-toggle .on-opened {
    display: initial;
  }
  .scroll-v-250px {
    max-height: 250px;
    overflow-y: scroll;
  }
  .padding-v-xs {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .btn.ico span.icon {
    opacity: 0;
  }
  .btn.ico.active span.icon {
    opacity: 1;
  }
  .search-category {
      position: absolute;
      cursor: pointer;
      padding-left: 98px;
    color: #ffe11b;
  }

  .show-category {
      display: none;
      margin-top: 64px;
      margin-left: -15px;
      height: 169px;
      overflow: auto;
      background-color: #dddddd;
      color: white;
      z-index: 2;
      position: absolute;
  }

.search-category .search-button {
    display: inline-block;
    margin-top: 11px;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    
}
.single li a {
    color:#181825
}


/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    background: #fff repeat scroll left top;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;/*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}



.title-widget {
	color: #898989;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.title-widget::before {
    background-color: #ffe11b;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
	width:95%;
}

.widget_nav_menu ul li a {
    color: #4ea74e; 
}

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
    			-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
			}           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
			.social-fb:hover {
				color: #3B5998;
			}
			.social-tw:hover {
				color: #4099FF;
			}
			.social-gp:hover {
				color: #d34836;
			}
			.social-em:hover {
				color: #f39c12;
			}
			.nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


/************************************************************
*************************Footer******************************
*************************************************************/


/************************************************************
*************************Slider and Default Product**********
*************************************************************/

    /*product*/
    @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,700');
    @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
    .snip1583 {
      font-family: 'Fira Sans Extra Condensed', Arial, sans-serif;
      position: relative;
      display: inline-block;
      overflow: hidden;
      margin: 8px;
      min-width: 230px;
      max-width: 315px;
      width: 82%;
      font-size: 16px;
      background-color: #fff;
      color: #111;
      line-height: 1.2em;
      text-align: center;
    }
    
    .snip1583 *,
    .snip1583 *:before,
    .snip1583 *:after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    
    .snip1583 img {
      max-width: 100%;
      vertical-align: top;
    }
    
    .snip1583 figcaption {
      padding: 10px;
    }
    
    .snip1583 h3 {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0 0 4px;
    }
    
    .snip1583 .price {
      margin: 8px 0;
      font-weight: 700;
      color: #4da3e2;
      font-size: 1.5rem;
    }
    
    .snip1583 .icons {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    
    .snip1583 .icons a {
      margin: 2px;
      opacity: 0;
      -webkit-transform: translateY(50%);
      transform: translateY(50%);
    }
    
    .snip1583 .icons a i {
      display: block;
      font-size: 23.52941176px;
      line-height: 40px;
      width: 40px;
      background-color: #ffffff;
      text-align: center;
      color: #000000;
    }
    
    .snip1583 .icons a i:hover {
      background-color: #4da3e2;
      color: #ffffff;
      cursor: pointer;
    }
    
    .snip1583:hover a,
    .snip1583.hover a {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    
    .snip1583:hover a:nth-child(2),
    .snip1583.hover a:nth-child(2) {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }
    
    .snip1583:hover a:nth-child(3),
    .snip1583.hover a:nth-child(3) {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
    
     
 
   /*produckt del*/

   .del {
       color:white;
       font-size: 25px;
       background-color:#232f3e;

       
   }
/************************************************************
*************************Slider and Default Product**********
*************************************************************/

/*about us css

body { 
    text-align: center;
    color: #000000 ;
    background-color: #f5f5f5d8;
    font-family: 'Montserrat', sans-serif; }
  
  .title {
    margin: 100px 0 50px 0;
    letter-spacing: 3px;
    color: #000000; }
  
  .description  {
    color: #000000;
    font-size: 1em;
    margin-bottom: 50px; 
    text-align: center;
    margin-bottom: 100px;
    line-height: 2.4;
    padding: 15px;
    font-size: 12px;
    
  
  
}

  .container {
    width: 100%; }
    .container .row {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .container .col-3:nth-of-type(1) {
      width: 29.33%;
      margin-left: 5%;
      margin-right: 1%;
      border-bottom: 8px solid #f1e506;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color:rgb(99, 99, 99);
      height: 200px;
      color: rgb(252, 252, 252); }
    .container .col-3:nth-of-type(2) {
      width: 29.33%;
      margin-right: 1%;
      border-bottom: 8px solid#f1e506;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color:rgb(99, 99, 99);
      height: 200px;
      color: #ffffff }
    .container .col-3:nth-of-type(3) {
      width: 29.33%;
      margin-right: 5%;
      border-bottom: 8px solid #f1e506;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color:rgb(99, 99, 99);
      height: 200px;
      color: #fdfdfd;
      }

  
  span {
    font-size: 18px;
    display: block;
    margin: 15px 0 50px 0;
    font-weight: bold; }
  
  .description  a {
        color: white; }
      
  i {
    opacity: 0.2;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s; }
    i:hover {
      opacity: 1;
      cursor: pointer;
      transition: 1s;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -o-transition: 1s; }
  
.list-unstyled{ 
   font-size: 12px;
   text-align: left;

      } 
*/
      /*contact side
 
   
      .contact-section{
        text-align: center;
      }
      l
        display:block;
        margin:1em 0 .2em;
      }
      /* single-line text, checkbox, and button 
      input, select, textarea{
        display:block;
        width:100%;
        padding:.3em;
        font-size:20px;
        background-color:#fbfbfb;
        border:solid 1px #CCC;
        resize:vertical;
      }
      textarea{
        min-height:180px;
      }
      select{
        color:indigo;
      }
      option{
        color:blue;
        background: lavenderBlush;
      }
      input[type=checkbox]{
        display:inline;
        width:auto;
        color:rgb(51, 50, 50);
      }
      
      input[type=submit]{
        background:rgb(114, 114, 114);
        margin:1em 0 0;
        color:white;
        border:none;
        border-radius:8px;
        transition:all .3s ease-out;
      }
      
      input:focus,
      input:hover,
      select:focus,
      select:hover,
      textarea:focus,
      textarea:hover{
        
      } 
      
      /* hover and focus states 
      input[type=submit]:hover,
      input[type=submit]:focus{
        background: lightgreen;
        outline:none;
      }
      
      @media screen and (min-width:600px) {
        /*  make the form 2 columns 
        form:after{
          content:'';
          display:block;
          clear:both;
        }
        .column{
          width:50%;
          padding:1em;
          float:left;
        }
      }*/
      

      .navbar-form .form-group .form-control {
          
          padding-left: 40px;
          

      }
  

      /* yeni header      */
      #flipkart-navbar {
        background-color: #4ea74e;
        color: #FFFFFF;
    }
    
    .row1{
        padding-top: 10px;
    }
    
    .row2 {
        padding-bottom: 20px;
    }
    
    .flipkart-navbar-input {
        padding: 11px 16px;
        border-radius: 2px 0 0 2px;
        border: 0 none;
        outline: 0 none;
        font-size: 15px;
        margin-left: 135px;
        width: 71.666667%;
    }
    
    .flipkart-navbar-button {
        background-color: #ffe11b;
        border: 1px solid #ffe11b;
        border-radius: 0 2px 2px 0;
        color: #565656;
        padding: 10px 0;
        height: 43px;
        cursor: pointer;
    }
    
    .cart-button {
        background-color: #4ea74e;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
        padding: 10px 0;
        text-align: center;
        height: 41px;
        border-radius: 2px;
        font-weight: 500;
        width: 70px;
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        color: inherit;
        border: none;
        outline: none;
    }
    
    .cart-button:hover{
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        background-color: #7bbc7b;
    }
    
    .cart-svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 8px;
    }
    
    .item-number {
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .1);
        height: 20px;
        padding: 3px 6px;
        font-weight: 500;
        display: inline-block;
        color: #fff;
        line-height: 12px;
        
    }
    
    .upper-links {
        display: inline-block;
        padding: 0 11px;
        line-height: 23px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0;
        color: inherit;
        border: none;
        outline: none;
        font-size: 12px;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        margin-bottom: 0px;
    }
    
    .dropdown:hover {
        
    }
    
    .dropdown:hover .links {
        color: #000;
    }
    
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .dropdown .dropdown-menu {
        position: absolute;
        top: 100%;
        display: none;
        background-color: #fff;
        color: #333;
        left: -170px;
        border: 0;
        border-radius: 0;
        box-shadow: 0 4px 8px -3px #555454;
        margin: 0;
        padding: 0px;
    }
    
    .links {
        color: #fff;
        text-decoration: none;
    }
    
    .links:hover {
        color: #fff;
        text-decoration: none;
    }
    
    .profile-links {
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        border-bottom: 1px solid #e9e9e9;
        box-sizing: border-box;
        display: block;
        padding: 0 11px;
        line-height: 23px;
    }
    
    .profile-li{
        padding-top: 2px;
    }
    
    .largenav {
        display: none;
    }
    
    .smallnav{
        display: block;
    }
    
    .smallsearch{
        margin-left: 15px;
        margin-top: 15px;
    }
    
    .menu{
        cursor: pointer;
    }
    
    @media screen and (min-width: 768px) {
        .largenav {
            display: block;
        }
        .smallnav{
            display: none;
        }
        .smallsearch{
            margin: 0px;
        }
    }
    
    /*Sidenav*/
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: 0 4px 8px -3px #555454;
        padding-top: 0px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #fff;        
    }
    
    @media screen and (max-height: 450px) {
      .sidenav a {font-size: 18px;}
    }
    
    .sidenav-heading{
        font-size: 36px;
        color: #fff;
    }

    
    .flipkart-navbar-input {
        color: black;
        height: 43px;
    }

    .product-button {
        background-color: #4fa84f!important;
        border-color: #50a950;
        background-image: none;    
    }

    
ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
li.active{border-bottom:3px solid silver;}

.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0px;margin-top:20px}
.btn-success{width:100%;border-radius:0px;}
.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0px;color:black}
.title-attr{margin-top:0px;margin-bottom:0px;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0px;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0px;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0px;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}

@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:0px !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0px ;    
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;
        
    }            
    .section{width:104%;}
    .menu-items{padding-left:0px;}
}
.product-detail{
    background-color: white;
    margin-right: 0px;
    margin-left: 0px;
}
.product-detail h1 {
    font-size: 22px;
}


#yukari{
    z-index:100;    
    position:fixed;
    bottom:10px;    
    right:10px;    
    display:none   
}
#yukari_boyut
{
    width:50px;    
    height:50px    
}

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.logmod {
  display: block;
  position: fixed;
  top: -90px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.logmod::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__wrapper {
  display: block;
  background: #FFF;
  position: relative;
  max-width: 550px;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  margin: 120px auto;
}
.logmod__close {
  display: block;
  position: absolute;
  right: 50%;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  top: -72px;
  margin-right: -24px;
  width: 48px;
  height: 48px;
}
.logmod__container {
  overflow: hidden;
  width: 100%;
}
.logmod__container::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tab {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.logmod__tab-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.logmod__tab.show {
  opacity: 1;
  height: 100%;
  visibility: visible;
}
.logmod__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logmod__tabs::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tabs li.current a {
  background: #FFF;
  color: #333;
}
.logmod__tabs li a {
  width: 50%;
  position: relative;
  float: left;
  text-align: center;
  background: #D2D8D8;
  line-height: 72px;
  height: 72px;
  text-decoration: none;
  color: #809191;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.logmod__tabs li a:focus {
  outline: dotted 1px;
}
.logmod__heading {
  text-align: center;
  padding: 12px 0 12px 0;
}
.logmod__heading-subtitle {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #888;
  line-height: 48px;
}
.logmod__form {
  border-top: 1px solid #e5e5e5;
}
.logmod__alter {
  display: block;
  position: relative;
  margin-top: 7px;
}
.logmod__alter::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__alter .connect:last-child {
  border-radius: 0 0 4px 4px;
}

.connect {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  line-height: 72px;
  text-decoration: none;
}
.connect::after {
  clear: both;
  content: "";
  display: table;
}
.connect:focus, .connect:hover, .connect:visited {
  color: #FFF;
  text-decoration: none;
}
.connect__icon {
  vertical-align: middle;
  float: left;
  width: 70px;
  text-align: center;
  font-size: 22px;
}
.connect__context {
  vertical-align: middle;
  text-align: center;
}
.connect.facebook {
  background: #3b5998;
  color: #FFF;
}
.connect.facebook a {
  color: #FFF;
}
.connect.facebook .connect__icon {
  background: #283d68;
}
.connect.googleplus {
  background: #dd4b39;
  color: #FFF;
}
.connect.googleplus a {
  color: #FFF;
}
.connect.googleplus .connect__icon {
  background: #b52f1f;
}

.simform {
  position: relative;
}
.simform__actions {
  padding: 15px;
  font-size: 14px;
}
.simform__actions::after {
  clear: both;
  content: "";
  display: table;
}
.simform__actions .sumbit {
  height: 48px;
  float: right;
  color: #FFF;
  width: 50%;
  font-weight: 700;
  font-size: 16px;
  background: #4CAF50;
  margin-top: 7px;
}
.simform__actions .sumbit::after {
  clear: both;
  content: "";
  display: table;
}
.simform__actions-sidetext {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0 10px;
  margin: 9px 0 0 0;
  color: #8C979E;
  text-align: center;
  line-height: 24px;
}
.simform__actions-sidetext::after {
  clear: both;
  content: "";
  display: table;
}

.sminputs {
  border-bottom: 1px solid #E5E5E5;
}
.sminputs::after {
  clear: both;
  content: "";
  display: table;
}
.sminputs .input {
  display: block;
  position: relative;
  width: 50%;
  height: 71px;
  padding: 11px 24px;
  border-right: 1px solid #e5e5e5;
  border-bottom: none;
  float: left;
  background-color: #FFF;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sminputs .input.active {
  background: #eee;
}
.sminputs .input.active .hide-password {
  background: #eee;
}
.sminputs .input.full {
  width: 100%;
}
.sminputs .input label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  line-height: 24px;
}
.sminputs .input input {
  display: inline-block;
  height: 24px;
  font-size: 15px;
  line-height: 19.2px;
  color: #555;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  
  background-color: transparent;
  color: rgba(75, 89, 102, 0.85);
}
.sminputs .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  border-left: 1px solid #e4e4e4;
  font-size: 14px;
  background: #FFF;
  overflow: hidden;
  color: #444;
  cursor: pointer;
  margin-top: 12px;
  line-height: 48px;
}

html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
}

.btn, .simform__actions .sumbit {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
  outline-offset: 0;
  font-weight: 400;
  box-shadow: none;
  min-width: 90px;
  padding: 10px 14px;
}
.btn.full, .simform__actions .full.sumbit {
  width: 100%;
}
.btn.lg, .simform__actions .lg.sumbit {
  min-width: 125px;
  padding: 17px 14px;
  font-size: 22px;
  line-height: 1.3;
}
.btn.sm, .simform__actions .sm.sumbit {
  min-width: 65px;
  padding: 4px 12px;
  font-size: 14px;
}
.btn.xs, .simform__actions .xs.sumbit {
  min-width: 45px;
  padding: 2px 10px;
  font-size: 10px;
  line-height: 1.5;
}
.btn.circle, .simform__actions .circle.sumbit {
  overflow: hidden;
  width: 56px;
  height: 56px;
  min-width: 56px;
  line-height: 1;
  padding: 0;
  border-radius: 50%;
}
.btn.circle.lg, .simform__actions .circle.lg.sumbit {
  width: 78px;
  height: 78px;
  min-width: 78px;
}
.btn.circle.sm, .simform__actions .circle.sm.sumbit {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.btn.circle.xs, .simform__actions .circle.xs.sumbit {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.btn:focus, .simform__actions .sumbit:focus, .btn:active, .simform__actions .sumbit:active, .btn.active, .simform__actions .active.sumbit, .btn:active:focus, .simform__actions .sumbit:active:focus, .btn.active:focus, .simform__actions .active.sumbit:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
.btn.red, .simform__actions .red.sumbit {
  background: #f44336;
  color: #FFF;
}
.btn.red:active, .simform__actions .red.sumbit:active, .btn.red:focus, .simform__actions .red.sumbit:focus {
  background-color: #ef1d0d;
}
.btn.red:hover, .simform__actions .red.sumbit:hover {
  background-color: #f32c1e;
}
.btn.pink, .simform__actions .pink.sumbit {
  background: #E91E63;
  color: #FFF;
}
.btn.pink:active, .simform__actions .pink.sumbit:active, .btn.pink:focus, .simform__actions .pink.sumbit:focus {
  background-color: #c61350;
}
.btn.pink:hover, .simform__actions .pink.sumbit:hover {
  background-color: #d81558;
}
.btn.purple, .simform__actions .purple.sumbit {
  background: #9C27B0;
  color: #FFF;
}
.btn.purple:active, .simform__actions .purple.sumbit:active, .btn.purple:focus, .simform__actions .purple.sumbit:focus {
  background-color: #7b1f8a;
}
.btn.purple:hover, .simform__actions .purple.sumbit:hover {
  background-color: #89229b;
}
.btn.deep-purple, .simform__actions .deep-purple.sumbit {
  background: #673AB7;
  color: #FFF;
}
.btn.deep-purple:active, .simform__actions .deep-purple.sumbit:active, .btn.deep-purple:focus, .simform__actions .deep-purple.sumbit:focus {
  background-color: #532f94;
}
.btn.deep-purple:hover, .simform__actions .deep-purple.sumbit:hover {
  background-color: #5c34a4;
}
.btn.indigo, .simform__actions .indigo.sumbit {
  background: #3F51B5;
  color: #FFF;
}
.btn.indigo:active, .simform__actions .indigo.sumbit:active, .btn.indigo:focus, .simform__actions .indigo.sumbit:focus {
  background-color: #334293;
}
.btn.indigo:hover, .simform__actions .indigo.sumbit:hover {
  background-color: #3849a2;
}
.btn.blue, .simform__actions .blue.sumbit {
  background: #2196F3;
  color: #FFF;
}
.btn.blue:active, .simform__actions .blue.sumbit:active, .btn.blue:focus, .simform__actions .blue.sumbit:focus {
  background-color: #0c7fda;
}
.btn.blue:hover, .simform__actions .blue.sumbit:hover {
  background-color: #0d8aee;
}
.btn.light-blue, .simform__actions .light-blue.sumbit {
  background: #03A9F4;
  color: #FFF;
}
.btn.light-blue:active, .simform__actions .light-blue.sumbit:active, .btn.light-blue:focus, .simform__actions .light-blue.sumbit:focus {
  background-color: #028ac7;
}
.btn.light-blue:hover, .simform__actions .light-blue.sumbit:hover {
  background-color: #0398db;
}
.btn.cyan, .simform__actions .cyan.sumbit {
  background: #00BCD4;
  color: #FFF;
}
.btn.cyan:active, .simform__actions .cyan.sumbit:active, .btn.cyan:focus, .simform__actions .cyan.sumbit:focus {
  background-color: #0093a6;
}
.btn.cyan:hover, .simform__actions .cyan.sumbit:hover {
  background-color: #00a5bb;
}
.btn.teal, .simform__actions .teal.sumbit {
  background: #009688;
  color: #FFF;
}
.btn.teal:active, .simform__actions .teal.sumbit:active, .btn.teal:focus, .simform__actions .teal.sumbit:focus {
  background-color: #00685e;
}
.btn.teal:hover, .simform__actions .teal.sumbit:hover {
  background-color: #007d71;
}
.btn.green, .simform__actions .green.sumbit {
  background: #4CAF50;
  color: #FFF;
}
.btn.green:active, .simform__actions .green.sumbit:active, .btn.green:focus, .simform__actions .green.sumbit:focus {
  background-color: #3e8f41;
}
.btn.green:hover, .simform__actions .green.sumbit:hover {
  background-color: #449d48;
}
.btn.light-green, .simform__actions .light-green.sumbit {
  background: #8BC34A;
  color: #FFF;
}
.btn.light-green:active, .simform__actions .light-green.sumbit:active, .btn.light-green:focus, .simform__actions .light-green.sumbit:focus {
  background-color: #74a838;
}
.btn.light-green:hover, .simform__actions .light-green.sumbit:hover {
  background-color: #7eb73d;
}
.btn.lime, .simform__actions .lime.sumbit {
  background: #CDDC39;
  color: #FFF;
}
.btn.lime:active, .simform__actions .lime.sumbit:active, .btn.lime:focus, .simform__actions .lime.sumbit:focus {
  background-color: #b6c423;
}
.btn.lime:hover, .simform__actions .lime.sumbit:hover {
  background-color: #c6d626;
}
.btn.yellow, .simform__actions .yellow.sumbit {
  background: #FFEB3B;
  color: #FFF;
}
.btn.yellow:active, .simform__actions .yellow.sumbit:active, .btn.yellow:focus, .simform__actions .yellow.sumbit:focus {
  background-color: #ffe60d;
}
.btn.yellow:hover, .simform__actions .yellow.sumbit:hover {
  background-color: #ffe822;
}
.btn.amber, .simform__actions .amber.sumbit {
  background: #FFC107;
  color: #FFF;
}
.btn.amber:active, .simform__actions .amber.sumbit:active, .btn.amber:focus, .simform__actions .amber.sumbit:focus {
  background-color: #d8a200;
}
.btn.amber:hover, .simform__actions .amber.sumbit:hover {
  background-color: #edb100;
}
.btn.orange, .simform__actions .orange.sumbit {
  background: #FF9800;
  color: #FFF;
}
.btn.orange:active, .simform__actions .orange.sumbit:active, .btn.orange:focus, .simform__actions .orange.sumbit:focus {
  background-color: #d17d00;
}
.btn.orange:hover, .simform__actions .orange.sumbit:hover {
  background-color: #e68900;
}
.btn.deep-orange, .simform__actions .deep-orange.sumbit {
  background: #FF5722;
  color: #FFF;
}
.btn.deep-orange:active, .simform__actions .deep-orange.sumbit:active, .btn.deep-orange:focus, .simform__actions .deep-orange.sumbit:focus {
  background-color: #f33a00;
}
.btn.deep-orange:hover, .simform__actions .deep-orange.sumbit:hover {
  background-color: #ff4409;
}
.btn.brown, .simform__actions .brown.sumbit {
  background: #795548;
  color: #FFF;
}
.btn.brown:active, .simform__actions .brown.sumbit:active, .btn.brown:focus, .simform__actions .brown.sumbit:focus {
  background-color: #5c4137;
}
.btn.brown:hover, .simform__actions .brown.sumbit:hover {
  background-color: #694a3e;
}
.btn.grey, .simform__actions .grey.sumbit {
  background: #9E9E9E;
  color: #FFF;
}
.btn.grey:active, .simform__actions .grey.sumbit:active, .btn.grey:focus, .simform__actions .grey.sumbit:focus {
  background-color: #878787;
}
.btn.grey:hover, .simform__actions .grey.sumbit:hover {
  background-color: #919191;
}
.btn.blue-grey, .simform__actions .blue-grey.sumbit {
  background: #607D8B;
  color: #FFF;
}
.btn.blue-grey:active, .simform__actions .blue-grey.sumbit:active, .btn.blue-grey:focus, .simform__actions .blue-grey.sumbit:focus {
  background-color: #4d6570;
}
.btn.blue-grey:hover, .simform__actions .blue-grey.sumbit:hover {
  background-color: #566f7c;
}

.special {
  color: #f44336;
  position: relative;
  text-decoration: none;
  transition: all 0.15s ease-out;
}
.special:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0;
  background: #f00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.special:hover {
  transition: all 0.15s ease-out;
}
.special:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#baseline {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-image: url(https://basehold.it/i/24);
}
 