<div class="w3-container" style="padding:128px 16px" id="about">
    <h3 class="w3-center w3-large ">ABOUT THE COMPANY</h3>
    <p class="w3-center w3-large">"Teknose is where the world goes to shop, sell, and give"</p>
<div class="w3-row-padding w3-center" style="margin-top:64px">

      <div class="w3-quarter about-item">
        <i class="fa fa-buysellads" style="font-size:80px;color:#4ea74e"></i>
        <p class="w3-large">Responsive</p><hr>
        <p>Over the last 5-years, Teknose has created more than 125 jobs in the US every day – from fulfillment centers to corporate offices, we’ve invested over $100 billion in the US alone.These new hires will join the more than 6,000 full-time Amazonians across Canada, ranging from customer fulfillment associates to researchers and software engineers.</p>
      </div>
  
        <div class="w3-quarter about-item">               
            <i class="fa fa-share-alt" style="font-size:80px;color:#4ea74e"></i>
            <p class="w3-large">Passion</p><hr>
            <p>These new hires will join the more than 6,000 full-time Amazonians across Canada, ranging from customer fulfillment associates to researchers and software engineers.These new hires will join the more than 6,000 full-time Amazonians across Canada, ranging from customer fulfillment associates to researchers and software engineers..</p>
        </div>

      <div class="w3-quarter about-item">
            <i class="fa fa-xing" style="font-size:80px;color:#4ea74e"></i>
        <p class="w3-large">Support</p><hr>
        <p>Teknose now has more than 45,000 employees in our hometown, Seattle. Discover why our employees joined, why they stay, and why their ID badges aren't all the same color.These new hires will join the more than 6,000 full-time Amazonians across Canada, ranging from customer fulfillment associates to researchers and software engineers.</p>
      </div>

      <div class="w3-quarter about-item">
            <i class="fa fa-bandcamp" style="font-size:80px;color:#4ea74e"></i>
            <p class="w3-large">Help</p><hr>
            <p>Teknose now has more than 45,000 employees in our hometown, Seattle. Discover why our employees joined, why they stay, and why their ID badges aren't all the same color.These new hires will join the more than 6,000 full-time Amazonians across Canada, ranging from customer fulfillment associates to researchers and software engineers.</p>
          </div>
    </div>
  </div>



  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <h2 class="w3-wide">THE TEAM</h2>
    
        <div class="w3-row w3-padding-32">
          <div class="w3-third">
        
            <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/26166576_10155735155255485_5724914240309786385_n.jpg?_nc_cat=0&oh=44348e7c91d0da932f4b81b251467dc7&oe=5BC21C27" class="w3-round w3-margin-bottom" alt="Random Name" style="width:65%">
            <p>Ibrahim Yolbir</p></div>
          <div class="w3-third">
            
            <img src="https://mail.google.com/mail/u/0/?ui=2&ik=e5d0964eb0&view=fimg&th=163c5a70c38976fa&attid=0.1.1&disp=emb&attbid=ANGjdJ97tvRUAiNl2DfZm_cHMtY2nqANZardG38GdDWSDfTUQTopmrxUPPPw54zICtaXyD-CgqWoyoaV4NBe8lKobKRW81tadbc-R9FTSxXR1C48yjXDhw4ifVdD6yc&sz=s0-l75-ft&ats=1528029906693&rm=163c5a70c38976fa&zw&atsh=1" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
            <p>Sahin Vurucu</p></div>
            <div class="w3-third">
         
            <img src="http://worldscreen.com/wp-content/uploads/2017/04/MeghanLyvers-CBSSI-417-153x165.jpg" class="w3-round" alt="Random Name" style="width:60%">
            <p>Amelia Andersson</p> </div>
            <div class="w3-third"></div>
        </div>
      </div>
    