<!-- <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- Category 
                <div class="single category" >
                    <h3 class="side-title">Category</h3>
                    <ul class="list-unstyled">
                        <li ng-repeat="category in resultCategories"> 
                            <a ng-attr-id="{{category.id}}" href="" title="" >{{category.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>  -->


<marquee width="100%" style="height:270px" scrollamount="10">
    <img alt="" src="img/slider/1.jpg" style="height:270px">
    <img alt="" src="img/slider/2.jpg" style="height:270px">
    <img alt="" src="img/slider/download.jpg" style="height:270px">

</marquee>


<div class="rubrik2">
    <h1>Make it a moment with the perfect gift</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <img src="https://images-na.ssl-images-amazon.com/images/G/01/img18/events/fathersday/gateway/rightrail/1100610_us_en_fathersday_gw_rightrail_264x350_main._CB496524382_.jpg">
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/music/merch/2018/WeeklyBuild/082518/052518_ShawnMenes_GW_TallRightRail_264x350.jpg">
        </div>
        <div class="col-sm-3">
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/f1de6b72-b5c2-446c-bc08-e5235a4090d9_1.2f743dbdea3bc07c4fe0437fa6749b34.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />

                <figcaption>
                    <h3>Scotch Bubble Cushion </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/8b4153ac-d7cc-4e61-82d3-1e67fd9b4a70_1.bade888a4cb0b52ad01feeb603066ed7.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />

                <figcaption>
                    <h3>12V 20AH T6 SLA </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/e5dda3f6-8a83-44ce-90af-a774883839bf_1.34ec0aa385f3cb2224eda4aa38729d29.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />

                <figcaption>
                    <h3>Mobil 1 0W-40 </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>

        </div>

        <div class="col-sm-3">

            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/21f86325-e66c-456d-9f68-da8bf079df28_1.3feccd60b0f5cbd259ede7734660b8eb.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />
                <figcaption>
                    <h3>Refurbished Apple Ipad </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/cb2c81ae-62ab-4a97-9f7a-554cd95f3ff7_1.e40cdbd62b18ae7d8915f8f6844e72f0.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />

                <figcaption>
                    <h3>AT PREPAID Alcatel </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/8f9ca054-fc93-47a9-b820-c3408472694f_1.b84e8aa71c79b6f7d47f557005cf1751.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />

                <figcaption>
                    <h3>Disney Baby Winnie the </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/0d36e79a-a13a-4880-a2bb-866d02ff881a_1.e3fb0720146cb9d465cb9731a2c0eb5d.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />
                <figcaption>
                    <h3>M'S Peanut Butter </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/98619b64-0cea-45e8-a24b-630205c80abd_1.0b9414848021efc0c5e1167865bc16e0.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />

                <figcaption>
                    <h3>Goodyear Wrangler </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/5a93a127-3cb0-4b18-acf4-d7279cf9cd9a_1.6d85134821f2bb687950ffb9b56bf220.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />

                <figcaption>
                    <h3>Samsung Gear Fit2</h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>


<div class="rubrik">
    <h1>Deals recommended for you</h1>
</div>


<div class="containera">
    <div class="row">
        <div class="col-sm-3">
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/e0c07702-82df-4966-af1f-895bd45a370c_1.66a8eb0ea3ca3e60ad6b65efe7d9c778.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />
                <figcaption>
                    <h3>Duracell Coppertop AA </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/c70207f6-0482-4429-9ad2-79e0cd318e1b_1.d7bae95d52be1f19692a7d90462beb6c.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />
                <figcaption>
                    <h3>Microsoft Xbox One S </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/8e3ead8a-03ae-4522-93c4-a352d73f8aa9_1.62d22308280c0574760718a803f56511.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />
                <figcaption>
                    <h3>Microsoft Xbox One S </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure class="snip1583">
                <img src="https://i5.walmartimages.com/asr/4239aaeb-d247-49f2-82c8-be4d97c61f93_1.1bf8f678760a88be5ed61745c7129d9a.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF"
                    alt="sample68" />
                <figcaption>
                    <h3>$100 App Store & </h3>
                    <div class="price">$15.00</div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>